In [27]:
import pandas as pd
import cudf
from sqlalchemy import create_engine, Connection, text

In [28]:
engine = create_engine('mysql+pymysql://root:kdt5@localhost:3306/Team2?charset=utf8mb4')

In [30]:

with engine.begin() as conn:
    df = pd.read_sql(text('SELECT * FROM BTCUSDT_1m'), conn)

AttributeError: 'OptionEngine' object has no attribute 'execute'